body{
    background-color: rgb(106, 183, 247);
    color: white;
}

.recall-button{
    margin-top: 10px;
    margin-bottom: 10px;
}

#poll-map {
    /* height: 400px; */
    width: 100%;
}
h1 {
    font-size: 12rem;
    text-align: center;
}
p {
    margin-bottom: 0;
}

.info {
    font-size: 1em;
    color: darkblue;
    display: none;
}
h3 {
    color: white;
    margin-bottom: 0;
}
.repDiv {
    font-size: 1em;
}
.hide {
    display: none;
}
.show {
    display: inline;
}
.rep {
    margin-bottom: 40px;
}