body{
    background-color: rgb(106, 183, 247);
    color: white;
}

.highlight {
    color: blue;
}
#poll-map {
    /* height: 400px; */
    width: 100%;
}
h1 {
    font-size: 12rem;
    text-align: center;
}
